@import "../vars";

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
}


.info-section {
    display: flex;
    height: 300px;
    padding: 51px 80px;
    background-color: $mint-color;
    flex-wrap: nowrap;
}

.work-together__title {
    font-size: 30px;
    margin:0;
    color: $white-color;
}

.work-together__button {
    padding: 18px 32px;
    margin-top: 28px;
    background-color: $white-color;
    color: $mint-color;

}

.newsletter {
    width: 645px;
    height: 185px;
    margin-left: 59px;
    padding: 21px 26px;
    background-color: $white-color;
}

.newsletter__title {
    font-size: 24px;
    margin-top: 0px;
    
}

.newsletter__paragraph {
    color: $back-color;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    margin-top: 28px;
    
}

.newsletter-form__email {
    flex-grow: 1;
    padding: 23px 20px 19px;
    border: 1px solid $back-color;
    font-size: 12px;
    font-weight: bold;
}

.newsletter-form__button {
    padding: 22px 49px 18px;
    font-size: 14px;
    border:none;
    background-color: $mint-color;
    color: $white-color;
    font-weight: bold;
}

.social-network__image {
    width: 16px;
    margin: 0 10px;
    filter:contrast(5%);
}

.social-network__image:hover {
    filter:contrast(100%);
}

.footer__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0;
    justify-content: space-around;
}
.footer-info__navigation-list-container {
    padding: 0 30px;
}

.navigation-list__element {
    color: $back-color;
    font-size: 14px;
}

.navigation-list__element::after {
    content: "-";
    padding: 0 15px;
}
.navigation-list__element:last-of-type::after {
    content: none;
}

.list-element__link {
    color: $back-color;
    font-size: 14px;
}

.list-element__link:hover {
    color: $title-color;
}

.footer-info__copyright-container {
    margin: 16px 50px;
    padding: 0 50px;
}

.footer-info__copyright {
    color: $back-color;
    font-size: 13px;
}

.footer-info__social-networks-container {
    width: 100%;
    margin: 0 100px;
}
.footer-info__social-networks {
    display: flex;
    justify-content: flex-end;
}
