* {
    font-family: 'Courier New', Courier, monospace;
}
header {
    text-align: center;
    width:100%
}

.custom-form {
    margin: 0 auto;
    width: 60%;
}
.form-container {
    background-color: antiquewhite;
    border-radius: 10px;
}

.custom-form fieldset {
    border: none;
}

.form-row {
    width: 100%;
    text-align: center;
}

.object-field {
    width: 500px;
    height: 150px;
    font-size: 1.3em;
    padding: 5px 10px;
}

label {
    display: block;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
}

.form-button {
    font-size: 1.3em;
    padding: 10px 50px;
    margin: 10px;
    background-color:peachpuff;
    border: 1px solid turquoise;
    border-radius: 5px;
}

.form-button:hover {
    background-color: skyblue;
    border: 1px solid lightgoldenrodyellow;
}

.description {
    font-size: 1.3em;
    text-align: center;
}