.user-info-address__details {
    width:70%;
}

.user-info-address__container {
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid black;
}

.user-info-address__title {
    align-self: center;
    padding: 7px;
    margin: 7px;
  }