.user-info-element__container:last-child {
    border: none;
}

.user-info-element__name {
    width: 30%;
}

.user-info-element__content {
    width:70%;
}

.user-info-element__container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 7px;
    margin: 7px;
}