body {
    background-color:blanchedalmond;
    font-size: 1.2em;
}
.table-container {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
    font-family: sans-serif;
}
table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}
table {
    background-color: beige;
    text-align: center;
}
td, th {
    padding: 5px 15px;
}
thead {
    background-color:darksalmon;
}
table caption {
    padding: 5px;
    font-size: 1.2em;
}