.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: monospace;
    font-size: 1.24rem;
}

.form__title {
    text-align: center;
}

.form__row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.form__label {
    text-align: right;
    margin-right: 20px;
}

.form__table {
    border: 2px solid black;
    border-collapse: collapse;
}
.form__table th {
    font-weight: bold;

}

.form__table td, .form__table th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.form__error {
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}

.hidden {
    display: none;
}