body {
 background-color: beige;
}
.table-container {
    margin: 0 auto;

    font-size: 1.25rem;
    font-family: monospace;
}
.table {
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
}
.table__caption {
    margin: 10px;
    font-size: 1.7rem;
    font-weight: bold;
}

.table__header {
    background-color: orange;
}
.table__body {
    background-color:wheat;
}

.table-header__cell, .table-body__cell {
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid black;
}

.increase-sort:after {
    content: "▲";
}

.sorted::after {
    margin-left: 10px;
}
.decrease-sort:after {
    content: "▼";
}

.cell__input {
    border: none;
    width: 180px;
    font-size: 1.2rem;
    text-align: center;
}