
.main-page {
    display: grid; 
    grid-template-columns: 455px 455px 390px; 
    grid-template-rows: 500px 1344px 1216px 385px; 
    grid-template-areas: 
      "header header header"
      "main main aside"
      "main main aside"
      "footer footer footer"; 

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      //font-family: 'ArabicTypesetting','OpenSans','Regular';
      
    margin: 0 auto;
}