$title-color: #60606e;
$main-color: #e6e6e6;
$back-color: #999;
$mint: #7BEEC7;

.aside {
    grid-area: aside;

    padding: 149px 60px;
}

.aside__section {
    width:100%;
}

.search-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: $main-color;
    justify-content: space-between;
    align-items: baseline;
    font-size: 14px;
}

.aside__title {
    color: $title-color;
    font-size: 15px;
    margin: 45px 0 5px 0;
    
}

.search-form__input {
    font-weight: bold;
    border: none;
    background-color: $main-color;
    padding: 10px 17px;
    margin: 0;
    outline: none;
}
.search-form__button {
    background-color: $main-color;
    border: none;
    color: $title-color;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding:10px 18px;
    transform: scale(-1,1);
}

.search-form__button:hover {
    filter: brightness(0.9);
}

.posts-selector-form__radios {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
}
.posts-selector-form__radio {
    display: none;
}
.posts-selector-form__label {
    padding: 5px 0 15px 0;
    text-align: center;
    margin: 10px 0;
    width: 33.33%;
    border-bottom: 2px solid $main-color;
    color: $back-color;
    font-weight: bold;
    font-size: 13px;
}

.posts-selector-form__radio:checked + .posts-selector-form__label {
    border-bottom: 2px solid $mint;
    color: $title-color;
}

.aside__post {
    margin:10px 0;
}

.aside-post__post-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.aside-post__info {
    margin: 10px 12px;
}

.aside-post__date {
    font-size: 13px;
    color: $back-color;
    font-weight: normal;

}

.post__title {
    font-size:15px;
    margin: 0;
}

.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tags__tag-button {
    background-color: #e5e5e5;
    color: #999;
    font-weight: bold;
    padding: 8px 20px;
    
    margin: 2px;
    cursor: pointer;
    border:none;
    
}

.tags__tag-button:hover {
    filter: brightness(0.9);
}

.aside-list__element {
    width: 100%;
    border-bottom: 1px solid $title-color;
}

.aside-list-element__link {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    color: $title-color;
}



