html.light {
    --color-bg: #fff;
    --color-text: #000;
}

html.dark {
    --color-bg: #333;
    --color-text: #cac;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: monospace;
    font-size: 1.24rem;
}

.header {
    display: flex;
    justify-content: space-around;
}

.welcome-box__text {
    margin-right: 30px;
}

.welcome-box__user {
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form__title {
    text-align: center;
}

.form__row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.form__label {
    text-align: right;
    margin-right: 20px;
}

.form__table {
    border: 2px solid;
    border-collapse: collapse;
}
.form__table th {
    font-weight: bold;

}

.form__table td, .form__table th {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.form__error {
    margin: 5px;
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
}

.form__select, .login-box__input, .user-button {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-weight: bold;
}

.hidden {
    display: none;
}