* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: antiquewhite;
    font-family: sans-serif;
    height: 90vh;
    display: grid;
    place-items: center;
}

main {
    width: 90%;
    min-width: 60rem;
    box-shadow: 0px 0px 25px 25px bisque;
    border-radius: 1rem;
}

p {
    margin: 0.25rem 1rem;
}

.form {
    display: grid;
    place-items: center;
}

.form-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-block {
    display: grid;
    place-items: center;
}

.form-label {
    font-weight: bold;
    font-size: 1.3rem;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 500ms;
}

.input-text {
    border-radius: 3rem;
    text-align: center;
    margin: 0.25rem;
    padding: 0.8rem;
    font-size: 1.5rem;
    background-color: beige;
    border: 3px solid black;
}

.faq-point {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    line-height: 3rem;
    border-radius: 2rem;
    margin-top: 1rem;
    color:cornflowerblue;
    background: whitesmoke;
    border: 3px solid cornflowerblue;
}

.faq-point:hover {
    border-color: whitesmoke;
    color: whitesmoke;
    background-color: cornflowerblue;
}

.faq {
    width: 80%;
    background-color:lavenderblush;
    margin: 1rem;
    padding: 0.2rem 1.2rem;
    border: 3px solid black;
    border-radius: 3rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

#input-string {
    width: 15rem;
}

#input-string:focus {
    outline: none;
}

.table-container {
    display: grid;
    place-items: center;
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
}

table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    background-color: beige;
    text-align: center;
}

td, th {
    padding: 0.1rem 0.4rem;
}

thead {
    background-color:darksalmon;
}

table caption {
    padding: 5px;
    font-size: 1.2em;
}