@import "../vars";

.header {
    display: flex;
    flex-direction: column;
    grid-area: header;

    width: 1300px;
    height: 500px;

    background: url(../img/header.jpg);

    font: $base-font;
}

.header__info-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width:81%;
    padding: 40px 80px;
}

.header__title-container {
    display: flex;
    grid-area: header;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 180px;    
}

.header-humburger-menu__button {
    background: none;
}

.button__image {
    width: 64px;
    
}

.button__image:hover {
    filter: drop-shadow(0 0 8px #000);
    
}

.header__title {
    font-size: 40px;
    margin-bottom: 10px;
}

.header__subtitle {
    font-size: 17px;
}